<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar text-center" v-bind:style="{width: health + '%'}" style="background-color: green; margin: 0; color: white;">
                  <span v-if='health <= 0'> 0 </span>
                  <span v-else> {{ health }} </span>
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar" >
                <div class="healthbar text-center" v-bind:style="{width: monsterHealth + '%'}" style="background-color: green; margin: 0; color: white;">
                  <span v-if='monsterHealth <= 0'> 0 </span>
                  <span v-else> {{ monsterHealth }} </span>
                </div>
            </div>
        </div>
    </section>
    <section class="row">
      <div class="small-12 columns">
          <h1 class="text-center win"> {{ win }} </h1>
      </div>
    </section>
    <section v-if='!gameStarted' class="row controls">
        <div class="small-12 columns">
            <button id="start-game" v-on:click='gameStarted = true'>START NEW GAME</button>
        </div>
    </section>
    <section v-else class="row controls">
        <div class="small-12 columns">
            <button id="attack" v-on:click="attack">ATTACK</button>
            <button id="special-attack" v-on:click='specialAttack' v-bind:disabled='disableSpecialAttack'>SPECIAL ATTACK</button>
            <button id="heal" v-on:click='heal'>HEAL</button>
            <button id="give-up" v-on:click='reset'>RESTART</button>
        </div>
    </section>
    <section class="row log" v-if='logs.length > 0'>
        <div class="small-12 columns">
            <ul>
                <li v-for='hit in logs'>
                    <!-- if the string inside logs starts with Player then color the text to blue -->
                    <span class='player message' v-if="hit.startsWith('Player')">{{ hit }}</span>
                    <!-- if the string inside logs starts with Player then color the text to blue -->
                    <span class='health message' v-else-if="hit.startsWith('Health')">{{ hit }}</span>
                    <!-- ...otherwise it was the monster and color the text to red -->
                    <span class='monster message' v-else>{{ hit }}</span>
                </li>
            </ul>
        </div>
    </section>
</div>

<script>
new Vue({
  el: '#app',
  data: {
    gameStarted: false,
    health: 100,
    monsterHealth: 100,
    logs: [],
    disableSpecialAttack: false,
    dissableAttack: false,
    disableHeal: false,
    won: false
  },
  methods: {
    attack: function(){
      // decrese the health of the monster by a random number between 3 and 10
      var damage = this.setDamage(3, 10);
      if(this.monsterHealth > 0 && this.won != true){
        this.monsterHealth -= damage;
        // push the random number and a string to the logs array
        this.logs.unshift('Player attacked the monster for ' + damage);
      }
    },
    // every three seconds fire up the function
    specialAttack: function (){
      var self = this;
      this.disableSpecialAttack = true;
      if(this.monsterHealth > 0 && this.won != true){
        // decrese the health of the monster by a random number between 15 and 30
        var damage = this.setDamage(15, 30);
        this.monsterHealth -= damage;
        // push the random number and a string to the logs array
        this.logs.unshift('Player attacked the monster with a special skill for ' + damage);
        // allow the player to use the special attack only every 3 seconds
        setTimeout(function(){
          self.disableSpecialAttack = false;
        }, 5000);
      }

    },
    heal: function() {
      if(this.health > 0){
        var heal = 5;
        this.health += heal;
        // push the heal number and a string to the logs array
        this.logs.unshift("Health of the player increased by " + heal);
      }
    },
    reset: function(){
      // reset the game
      this.gameStarted = false;
      this.health = 100;
      this.monsterHealth = 100;
      this.logs = [];
      this.won = false;
    },
    setDamage: function(min, max){
      var attack = Math.floor(Math.random() * (max - min + 1) + min);
      return attack;
    }
  },
  computed: {
    win: function() {
      if(this.monsterHealth <= 0){
        this.won = true;
        return 'THE PLAYER WON!';
      }

      if(this.health <= 0){
        this.won = true;
        return 'THE MONSTER WON!';
      }
    }
  },
  watch: {
    // watch for getStarted change to automatically hit the player
    gameStarted: function(){
        var self = this;
        // fire up this function every 2 seconds
        setInterval(function() {
          // get random number between 2 - 10
          var damage = self.setDamage(2, 10);
          // if  gameStarted changed and that change equals to true then ...
          if(self.health > 0 && self.won != true && self.gameStarted === true){
            // ...push the random number and a string to the logs array
            self.logs.unshift('Monster attacked the player for ' + damage);
            // ...decrease the players health by randNum
            self.health -= damage;
          }
        }, 2000)
    }
  }
})

</script>
</body>
</html>
