<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar text-center" v-bind:style="{width: health + '%'}" style="background-color: green; margin: 0; color: white;">
                  100
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar" >
                <div class="healthbar text-center" v-bind:style="{width: monsterHealth + '%'}" style="background-color: green; margin: 0; color: white;">
                  100
                </div>
            </div>
        </div>
    </section>
    <section v-if='!gameStarted' class="row controls">
        <div class="small-12 columns">
            <button id="start-game" v-on:click='gameStarted = true'>START NEW GAME</button>
        </div>
    </section>
    <section v-else class="row controls">
        <div class="small-12 columns">
            <button id="attack" v-on:click="attack">ATTACK</button>
            <button id="special-attack" v-on:click='specialAttack'>SPECIAL ATTACK</button>
            <button id="heal" v-on:click='heal'>HEAL</button>
            <button id="give-up" v-on:click='gameStarted = false'>GIVE UP</button>
        </div>
    </section>
    <section class="row log">
        <div class="small-12 columns">
            <ul>
                <li v-for='hit in logs'>
                    <span class='player' v-if="hit.startsWith('Player')">{{ hit }}</span>
                    <span class='monster' v-else>{{ hit }}</span>
                </li>
            </ul>
        </div>
    </section>
</div>

<script>
new Vue({
  el: '#app',
  data: {
    gameStarted: false,
    health: 100,
    monsterHealth: 100,
    logs: []
  },
  methods: {
    attack: function(){
      // decrese the health of the monster by a random number between 1 and 15
      var randNum = Math.floor(Math.random() * 15) + 1;
      if(this.monsterHealth >= 0){
        this.monsterHealth -= randNum;
        // push the random number and a string to the logs array
        this.logs.push('Player attacked the monster for ' + randNum);
      }

    }
  },
  computed: {
    specialAttack: function (){
      return true;
    },
    heal: function() {
      return true;
    }
  },
  watch: {
    // watch for getStarted change to automatically hit the player
    gameStarted: function(){
        var self = this;
        // fire up this function every 2 seconds
        setInterval(function() {
          // get random number between 1 - 10
          var randNum = Math.floor(Math.random() * 10) + 1;
          // if  gameStarted changed and that change equals to true then ...
          if(self.gameStarted === true && self.health >= 0){
            // ...push the random number and a string to the logs array
            self.logs.push('Monster attacked the player for ' + randNum);
            // ...decrease the players health by randNum
            self.health -= randNum;
          }
        }, 1000)
    }
  }

})

</script>
</body>
</html>
